<div class="mat-typography" fxLayout="column" fxLayoutAlign="space-around none">
  <section class="text-center">
    <h1>Hours Survey Report</h1>
  </section>
  <section>
    <h2>A total of {{hoursSurveyObject?.SurveyCount}} surveys have been completed</h2>
  </section>
  <section fxLayout="column" fxLayoutAlign="space-between none">
    <h3>I am spending sufficient time in my chosen industry(s) to develop expertise</h3>
    <app-pie-chart [data]="timeInIndustryChart" *ngIf="timeInIndustryChart" (drillDownData)="onSelectedData($event)"></app-pie-chart>
  </section>
  <section *ngIf="teamMemberList">
    <app-team-member-list [dataSource]="teamMemberList"></app-team-member-list>
  </section>
</div>
