<div>
  <mat-form-field class="example-full-width">
    <input type="number" matInput placeholder="Total amount of months previous" [(ngModel)]="months">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onMonthChange()">Update Search</button>
</div>
<div>
  <app-bar-chart [data]="chartData" *ngIf="chartData?.length > 0"></app-bar-chart>
</div>
<!-- <div>
  <ngx-charts-line-chart
      [scheme]="colorScheme"
      [results]="chartData"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale">
    </ngx-charts-line-chart>
</div> -->
